# BEGIN ShortPixelWebp
# "BEGIN ShortPixelWebp" ve "END ShortPixelWebp" arasındaki yönergeler (satırlar)
# dinamik olarak oluşturulmuştur ve yalnızca WordPress süzgeçleri ile düzenlenmelidir.
# Bu imler arasındaki yönergelerde yapılan değişikliklerin üzerine yazılır.

# END ShortPixelWebp